<link
  href="https://unpkg.com/@blueprintjs/core@^3.0.0/lib/css/blueprint.css"
  rel="stylesheet"
/>
<link
  href="https://unpkg.com/@blueprintjs/icons@^3.0.0/lib/css/blueprint-icons.css"
  rel="stylesheet"
/>
<script src="https://unpkg.com/@blueprintjs/core@^3.0.0"></script>
<script src="https://unpkg.com/@blueprintjs/icons@^3.0.0"></script>
